extends layout.pug
block body
    if(authenticated)
        form(action="/opretsnyt", method="POST")
            div(class="row")
                div(class="col-2")
                    fieldset
                    ul(type="none")
                        li
                            a(href="/")
                                button(type="button" class="btn btn-primary") Gå tilbage
                        //li
                        //    button(type="button" class="btn btn-primary") Opdater SNYT
                        //li
                        //    button(type="button" class="btn btn-primary") Rediger SNYT
                        //li
                        //    input(type="checkbox")
                        //    label Læse Kvitteret
                        li
                        label e-Dok
                            input(type="text" name="snyt[edok]")
                            //a(href="#" name="snyt[edok]") e-Dok
                        li
                        label Dato
                            input#advDateFrom(type="date" name="snyt[created]")
                            //input(type="datetime-local" name="snyt[created]")
                            //div(class="form-group")
                            //    div(class="input-group date" id="datetimepicker1")
                            //        input(type="text" class="form-control")
                            //        span(class="input-group-addon")
                            //            span(class="glyphicon glyphicon-calendar")
                            //    script.
                            //        $(function(){$('#datetimepicker1').datetimepicker();});

                        li
                        label Initialer
                            input(type="text" name="snyt[user]")
                        li
                        label Kategori
                            //input(type="text" name="snyt[category]")
                            select(name="snyt[category]")
                                option(value="ac") AC
                                option(value="Logistik") Logistik
                                option(value="Tovholder") Tovholder
                                option(value="Hygiejne") Hygiejne
                                option(value="Levering") Levering
                                option(value="Reklamation") Reklamation
                                option(value="IT") IT
                                option(value="Klinisk Forsøg") Klinisk Forsøg
                                option(value="Produktion") Produktion


                        li
                            button(type="submit" class="btn btn-primary") Gem


                div(class="col-10")
                    ul(type="none")
                        li
                            input(type="text" name="snyt[subject]" style="width: 1073px;")
                        li
                            textarea(name="snyt[text]" rows="20" cols="150")