extends layout.pug
block body
    div(class="row")
        div(class="col-2")
            ul(type="none")
                li
                    button(type="button" class="btn btn-primary") Gå tilbage
                li
                    button(type="button" class="btn btn-primary") Opdater SNYT
                li
                    button(type="button" class="btn btn-primary") Rediger SNYT
                li
                    input(type="checkbox")
                    label Læse Kvitteret
                li
                    a(href="#") e-Dok
                li
                    label Dato
                    input(type="datetime")
                li
                    label Initialer
                    input(type="text")
                li
                    label Kategori
                    input(type="text")


        div(class="col-10")
            ul(type="none")
                li
                    div asd
                li
                    div asdsad