extends layout.pug
block body
    if(authenticated)
        div(class="container")
            table(class="table")
                thead
                    tr
                        th Emne
                        th Dato
                        th Initialer
                        th Læst
                tbody#snytOversigt
    else
        //Hvis man ikke er logget ind kommer det her:
        h1 SNYT++
        form(action="/", method="POST")
            fieldset
                p
                    label Email
                    input(name="user[email]", type="text", value=signupEmail)
                p
                    label Password
                    input(name="user[password]", type="password")
                p
                    button(type="submit" class="btn btn-primary") Log Ind
