.clickableRow {
    cursor: pointer;
}

.nodecoration {
    list-style-type: none;
}

.clickableKvitRow {
    cursor: pointer;
}

.input{
    font-family: "Verdana";
    left: 35em;
    top: 10em;
}

.full-dialog {
    min-width: 80%;
    min-height: 80%;
    margin: 0;
    padding: 0;
    margin-left: 10%;
}

.full-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}